.navbar {
  background: transparent !important;
  position: absolute;
  width: 100%;
  padding: 2% 8% 0; }
  .navbar a {
    color: #000; }
  .navbar .a-transparent:focus, .navbar .a-transparent:hover {
    background-color: transparent !important;
    color: #AEAEAE; }

.navbar-brand {
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }
  .navbar-brand img {
    padding-top: 7px; }

.btn-blue, .btn-blue:focus, .btn-blue:hover {
  background-color: #5E7DE8 !important;
  border-radius: 25px;
  color: #fff !important;
  padding: 5px 15px !important;
  margin-top: 8px; }

.btn-blue img {
  height: 16px;
  vertical-align: top;
  padding-top: 4px;
  padding-right: 5px; }

.btn-blue span {
  padding-left: 25px;
  font-size: 11px; }

.btn-gray {
  color: #333;
  border-color: #DBDBDB;
  border-radius: 30px;
  padding: 8px 30px;
  background-color: transparent !important;
  font-size: 13px;
  margin-bottom: 25px; }
  .btn-gray span {
    padding-right: 10px;
    font-size: 11px; }

.btn-green {
  background-color: #8FBD69;
  color: #fff; }
  .btn-green span {
    padding-left: 15px;
    font-size: 11px; }

.section-one {
  background-image: url(../assets/images/bg_upper.jpg);
  background-size: cover;
  padding-top: 8em; }
  .section-one img {
    width: 280px; }
  .section-one p {
    margin: 20px 0 30px; }

.section-two {
  padding-top: 6em; }
  .section-two h4 {
    color: #000;
    padding: 15px 0; }
  .section-two .col-md-5 {
    padding: 0 3em; }
  .section-two hr {
    color: #dbdbdb;
    width: 83%;
    margin: 80px auto 0; }

.section-three {
  padding: 6em 0; }
  .section-three .row {
    background-image: url(../assets/images/section-mobile.png);
    background-position: -6% 0;
    background-repeat: no-repeat;
    padding: 8em 0;
    background-size: contain; }
  .section-three .col-md-5 {
    padding-left: 7em; }
  .section-three .btn-blue {
    margin-bottom: 25px;
    margin-top: 0; }

.section-four {
  padding: 4em 0 10em; }
  .section-four .row {
    background-image: url(../assets/images/section-map.png);
    background-position: 125% 0;
    background-repeat: no-repeat;
    padding: 1em 0;
    background-size: contain; }
  .section-four .col-md-5 {
    padding-right: 7em; }

.section-five {
  background-color: #F4F4F5;
  padding: 6em 0; }
  .section-five hr {
    width: 45px;
    margin: 0 auto 25px;
    height: 2px;
    background-color: #5e7de8; }
  .section-five .images img {
    width: 19%;
    padding: 5px; }
  .section-five .interface-center {
    width: 22% !important;
    padding-top: 15px !important; }
  .section-five .input-group {
    position: relative;
    width: 100%; }
    .section-five .input-group input {
      height: 40px;
      border-radius: 30px !important;
      z-index: 1 !important; }
    .section-five .input-group .input-group-btn {
      position: absolute;
      right: 147px;
      border-radius: 30px;
      top: 3px;
      z-index: 2; }
      .section-five .input-group .input-group-btn button {
        border-radius: 30px;
        padding: 6px 20px; }
  .section-five .download {
    padding: 35px 0 10px; }

.section-six {
  padding: 6em 0; }
  .section-six img {
    padding: 15px 2px; }
  .section-six h4 {
    font-weight: 400;
    color: #000;
    padding-bottom: 20px; }

.section-seven {
  padding: 6em 0;
  background-color: #F4F4F5; }
  .section-seven .fs-20 {
    font-size: 20px;
    padding: 1em 1.5em; }
  .section-seven .active-plan {
    background-color: #fff;
    padding: 5em 0;
    border-radius: 15px; }
  .section-seven .desactive-plan {
    background-color: #EBEAEC;
    padding: 3em 0;
    border-radius: 15px; }

.section-eight {
  padding: 6em 0; }
  .section-eight p {
    padding-top: 2em; }
  .section-eight .input-group {
    position: relative;
    width: 100%; }
    .section-eight .input-group input {
      height: 40px;
      border-radius: 30px !important;
      z-index: 1 !important; }
    .section-eight .input-group .input-group-btn {
      position: absolute;
      right: 108px;
      border-radius: 30px;
      top: 3px;
      z-index: 2; }
      .section-eight .input-group .input-group-btn button {
        border-radius: 30px;
        padding: 6px 20px; }

footer h6 span {
  vertical-align: middle;
  padding-right: 5px; }
footer p {
  padding-top: 15px; }
footer hr {
  color: #dbdbdb;
  width: 85%;
  margin: 1em auto; }
footer li {
  list-style: none;
  line-height: 2em; }
  footer li a {
    color: gray; }
footer strong {
  color: #000; }
footer .footer {
  padding: 6em 0 5em; }
  footer .footer p {
    padding: 20px 0; }
  footer .footer .social-network img {
    height: 17px;
    margin-right: 12px; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #98999D; }

h6 {
  font-size: 12px;
  letter-spacing: .03em; }

h5 {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .07em;
  padding-bottom: 15px; }

h4 {
  font-size: 25px;
  font-weight: 100; }

h3 {
  font-family: 'Mallanna', sans-serif;
  font-size: 37px;
  color: #000;
  padding-bottom: 20px;
  line-height: 1em; }

h2 {
  font-family: 'Mallanna', sans-serif;
  font-size: 45px;
  color: #000; }

p {
  line-height: 1.3em;
  font-size: 16px; }

.m-0 {
  margin: 0; }

.mt-25 {
  margin-top: 25px; }

.pr-2 {
  padding-right: 2em; }

.pr-5 {
  padding-right: 5em; }

.pl-5 {
  padding-left: 5em; }

.pt-3 {
  padding-top: 3em; }

.pt-5 {
  padding-top: 5em; }

.black {
  color: #000; }

.radius-30 {
  border-radius: 30px; }

.fs-12 {
  font-size: 12px; }

/*# sourceMappingURL=style.css.map */
